* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100vh;
  width: 100%;
  padding: 80px 50px;
  background-color: #d0d0d0;
}

#main-cont {
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.734);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left {
  height: 100%;
  width: 39%;
}

.left-box1 {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 65, 65);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5vw;
  font-weight: 700;
  color: #fff;
}

#right {
  height: 100%;
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-top-sect {
  height: 42%;
}

.right-box2 {
  height: 100%;
  width: 100%;
  background-color: rgb(162, 211, 89);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5vw;
  font-weight: 700;
  color: #fff;
}

.right-bottom-sect {
  height: 52%;
  display: flex;
  justify-content: space-between;
}

.rb-left,
.rb-right {
  width: 47%;
  height: 100%;
}

.right-box3 {
  height: 100%;
  background-color: rgb(255, 112, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5vw;
  font-weight: 700;
  color: #fff;
}

.rb-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-box4a,
.right-box4b {
  height: 47%;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5vw;
  font-weight: 700;
  color: #fff;
}

/* =====  RESPONSIVENESS  ===== */
@media (max-width: 768px) {
  #main {
    padding: 20px;
    height: auto;
  }

  #main-cont {
    flex-direction: column;
    gap: 20px;
  }

  #left,
  #right {
    width: 100%;
    height: auto;
  }

  .left-box1 {
    aspect-ratio: 1 / 1;
    height: auto;
  }

  #right {
    gap: 16px;
  }

  .right-top-sect {
    height: auto;
  }

  .right-bottom-sect {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .rb-left,
  .rb-right {
    width: 47%;
  }

  .right-box3 {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .rb-right {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .right-box4a,
  .right-box4b {
    aspect-ratio: 3 / 1.33;
  }

  .right-box2 {
    aspect-ratio: 16 / 9;
  }
}
