* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100vh;
  width: 100%;
  padding: 80px 50px;
  background-color: #d0d0d0;
}

#main-cont {
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.734);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
