* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #2f2f2f;
  color: #fff;
}

#main {
  height: 100vh;
  width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#nav .ul {
  display: flex;
  gap: 25px;
  padding: 20px;
  align-items: center;
}

#nav #ul-right li > img {
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
}

#nav #ul-right li > button {
  background-color: #4ec4ffa3;
  padding: 11px 18px;
  border-radius: 25px;
  border: none;
}
